In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
flight_2008 = pd.read_csv('./dataverse_files/2008.csv')
flight_2007 = pd.read_csv('./dataverse_files/2007.csv')
flight_2006 = pd.read_csv('./dataverse_files/2006.csv')

flight = pd.concat([flight_2006, flight_2007, flight_2008])
flight.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27.0,19.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4.0,11.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16.0,10.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27.0,12.0,0,NaN,0,0.0,0.0,0.0,0.0,0.0

In [20]:
len(flight)
flight_sub = flight

In [21]:
flight_sub_dest_grouped = flight_sub.groupby(['Year', 'Month', 'DayofMonth', 'Dest'], as_index=False).agg({'DepDelay': 'mean'})
flight_sub_orig_grouped = flight_sub.groupby(['Year', 'Month', 'DayofMonth', 'Origin'], as_index=False).agg({'DepDelay': 'mean'})

In [19]:
flight_sub_joined = pd.merge(flight_sub_dest_grouped, flight_sub_orig_grouped, how='inner', left_on=['Year', 'Month', 'DayofMonth', 'Dest'], right_on=['Year', 'Month', 'DayofMonth', 'Origin'])
flight_sub_joined.head()

   Year  Month  DayofMonth Dest  DepDelay_x Origin  DepDelay_y
0  2006      1           1  ABQ   11.235294    ABQ    9.580000
1  2006      1           1  ALB    6.583333    ALB    9.500000
2  2006      1           1  AMA    9.375000    AMA    2.875000
3  2006      1           1  AUS    9.696970    AUS    4.727273
4  2006      1           1  BDL    9.450000    BDL    7.947368

- merge by same year, same month, same day of mont, A.arrTime < B.depTime, A.dest = B.origin
- compute delay ratio